.TimeContainer {
  display: flex;
  flex-direction: row; /* Align items in a vertical column */
  justify-content: space-evenly; /* Distribute elements evenly along the vertical axis */
}

.TimeItem {
  border: 1px solid #000;
  width: 33%;
}
@media (max-width: 600px) {
  .TimeContainer {
    display: flex;
    flex-direction: column; /* Align items in a vertical column */
    justify-content: space-between; /* Distribute elements evenly along the vertical axis */
  }
  .TimeItem {
    width: 100%; /* Force full width */
  }
}